*{
    font-family:'Tilt Neon', cursive;
}

.product-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
    position: relative;
    z-index: 20;
}

.productBox{
    width: 40%;
    margin-bottom: 15px ;
    text-align: left;
}

.productBox img {
    width: 100%; 
    border-radius: 5px;
}

.price{
    color: rgb(122, 122, 122);
}