.container-user{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: fit-content;
    position: absolute;
    top:0;
    right: 0;
    z-index: 55;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.2s ease-in;
}
.container-user-hide{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height: fit-content;
    position: absolute;
    top:0;
    right: 0;
    display: none;
    opacity: 0;
    z-index: 55;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.2s ease-in;
}

.title-userinfo{
    font-size: 22px;
    margin-top: 5px;
    font-family: 'Tilt Neon', cursive;
}

.userinfo-img{
    border-radius: 20%;
    width: 45%;
    margin-top: 30px;
    border: solid 4px #EDB544;
}

.box-options {
    margin: 0 auto;
    display: flex;
    margin: 20px auto;
    justify-content: center;
}

.purchases-option{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    border-radius: 15px;
}

.purchases-option:hover{
    width: 30%;
    display: flex;
    background-color: #c4c4c4;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.option-img{
    width: 25%;
    margin-bottom:10px ;
}

.option-txt{
    font-family: 'Tilt Neon', cursive;
    text-align: center;
}

.btn-logout {
    background-color: #F29E7D;
    width: 30%;
    padding: 7px 0px 7px 0px;
    border-radius: 10px;
    font-weight: bolder;
    font-family: 'Tilt Neon', cursive;
    font-size: 18px;
    margin: 15px auto;
    border: none;
    color: #1d1d1d;
}